body {
    /*font-size: 95% !important;*/
    line-height: 122% !important;
}

#header {
    background: #4C4A48 !important;
}

#header, .js-add-list.list-wrapper.mod-add.is-idle, .board-header, .badges {
    display: none;
}

.board-wrapper {
    background-color: #696969;
}

.member, .member-avatar {
    height: 20px !important;
    width: 20px !important;
}

{
    height: 20px !important;
    width: 20px !important;
}

.list-wrapper {
    width: 260px !important;
}

.list-card-members .member {
    margin: 0px !important;
}

.open-card-composer,
.list-header {
    padding: 4px 0px 4px 10px !important;
}
