[push]
	default = matching

[core]
	trustctime = false
	filemode = false
	autocrlf = false
	editor = vim
	excludesfile = /Users/sebastiantschoepel/.gitignore

[http]
	sslverify = false

[color]
	ui = true

[credential]
	helper = cache --timeout=3600

[alias]
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch

; [difftool "sourcetree"]
; 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
; 	path =
; [mergetool "sourcetree"]
; 	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
; 	trustExitCode = true
