# You can re-read the inputrc file with C-x C-r.

# Be 8 bit clean.
# To allow the use of 8bit-characters like the german umlauts, uncomment
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.
set meta-flag on
set convert-meta off
set input-meta on
set output-meta on

# bash configurations 
set completion-ignore-case on
set expand-tilde on

# do not bell on tab-completion
set bell-style none

# KEYBOARD SETTINGS ----------
# Obtain keycode via sed -n l 
# ----------------------------

# Home key: Go to beginning of line
"\e[H": beginning-of-line #kvt

# End Key: Go to end of file
"\e[F": end-of-line #kvt

# Delete key: Delete next character
"\e[3~": delete-char #kvt

# Alt+Delete key: Delete next word
"\e[3;3~": kill-word #kvt

# Ins key: Switch to overwrite-mode 
"\e[2~": overwrite-mode #kvt

# Shift+right: skip to next word
"\e[1;2C": forward-word #kvt

# Shift+left: Skip to previous word
"\e[1;2D": backward-word #kvt

# Arrow up: Backward history navigation 
"\e[A": history-search-backward #kvt

# Arrow down: Forward history navigation 
"\e[B": history-search-forward #kvt

