"*":
  "atom-beautify":
    general:
      _analyticsUserId: "0b9d45ea-caf7-4935-bcda-6173d6e52d6a"
    markdown:
      beautify_on_save: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "pigments"
      "whitespace"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "nord-atom-syntax"
    ]
  editor:
    scrollSensitivity: 90
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "218a10be-5595-445a-8933-1589c5dfa630"
  linter:
    disabledProviders: [
      "Flake8"
    ]
  "linter-ui-default":
    panelHeight: 101
    showPanel: true
  pigments:
    notifyReloads: false
  "spell-check":
    addKnownWords: true
    knownWords: [
      "erstmal"
      "GRÜNE"
      "AfD"
      "Darüber"
      "Open-Source"
      "Vectoring"
      "Corporate"
      "infrastrukturelle"
      "Außerdem"
      "bzw"
      "Mason"
      "UK"
      "vgl"
      "Abdeckungswerte"
      "FTTH"
      "FTTB"
      "kupferbasierte"
      "NGA"
      "Außerdem"
      "Europäische"
      "Europäischen"
      "usw"
      "Außerdem"
      "Docsis"
      "FTTP"
      "LTE"
      "NGA"
      "HSPA"
      "unternehmenspolitischen"
      "Ausgeprägte"
      "BonniconValley"
      "retweets"
      "Startupszene"
      "weiterzuhelfen"
      "Twitterbot"
      "Hashtags"
      "Twitterbots"
      "Ursprungstweet"
      "retweetet"
      "Bootstrappings"
      "Hashtag"
      "Retweet"
      "https"
      "bonniconvalley"
      "Falschpositiven"
      "vorverarbeitet"
      "Realtime"
      "Anfragemodus"
    ]
    locales: [
      "de-DE"
      "en-US"
    ]
  "symbols-tree-view":
    autoToggle: true
  welcome:
    showOnStartup: false
