"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  welcome:
    showOnStartup: false
