"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "pigments"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "spell-check":
    addKnownWords: true
    knownWords: [
      "erstmal"
      "GRÜNE"
      "AfD"
      "Darüber"
      "Open-Source"
      "Vectoring"
      "Corporate"
      "infrastrukturelle"
      "Außerdem"
      "bzw"
      "Mason"
      "UK"
      "vgl"
      "Abdeckungswerte"
      "FTTH"
      "FTTB"
      "kupferbasierte"
      "NGA"
      "Außerdem"
      "Europäische"
      "Europäischen"
      "usw"
      "Außerdem"
      "Docsis"
      "FTTP"
      "LTE"
      "NGA"
      "HSPA"
      "unternehmenspolitischen"
      "Ausgeprägte"
      "BonniconValley"
      "retweets"
      "Startupszene"
      "weiterzuhelfen"
      "Twitterbot"
      "Hashtags"
      "Twitterbots"
      "Ursprungstweet"
      "retweetet"
      "Bootstrappings"
      "Hashtag"
      "Retweet"
      "https"
      "bonniconvalley"
      "Falschpositiven"
      "vorverarbeitet"
      "Realtime"
      "Anfragemodus"
      "Deskewing"
      "Kanonisierung"
      "basti"
      "admin"
      "workflow"
      "GitHub"
      "SVGs"
      "DIVs"
      "BastiTee"
      "scrapen"
      "Nextcloud"
      "deskewing"
      "crontab"
      "Owncloud"
      "DevOps"
      "github"
      "Dockerfile"
    ]
    locales: [
      "de-DE"
      "en-US"
      "en-GB"
    ]
  welcome:
    showOnStartup: false
