# -----------------------------------------------------------------------------
# ATOM SNIPPETS
#
# http://flight-manual.atom.io/using-atom/sections/snippets/
#
# [..] add a snippet that would work for Java files, we would look up the
# language-java package in our Settings view and we can see the Scope is
# source.java [..]
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# JAVASCRIPT
# -----------------------------------------------------------------------------
'.source.js':
    'd3.js - attr':
        'prefix': 'attr'
        'body': '.attr("$1", "$2")$3'
    'd3.js - getter':
        'prefix': 'getter'
        'body': 'chart.$1 = function(value) {\n\tif (!arguments.length) return $1\n\t$1 = value;\n\treturn chart;\n}'
    'Add a horizontal rule':
        'prefix': 'hrule'
        'body': '// ----------------------------------------------------------------------------'
    'Add a comment section':
        'prefix': 'comment'
        'body': '/**\n * $1\n *\n */'

# -----------------------------------------------------------------------------
# MARKDOWN
# -----------------------------------------------------------------------------
'.source.gfm':
    'Bash code-snippet with prompt':
        'prefix': 'bash'
        'body': '```bash\nbasti@home:~\$ $1\n```'
    'Shellscript code-snippet':
        'prefix': 'shellscript'
        'body': '```shell\n$1\n```'
    'Haskell code-snippet':
        'prefix': 'haskell'
        'body': '```haskell\n$1\n```'
    'Notebook shebang':
        'prefix': 'shebang'
        'body': '---\nlayout: post\nkeywords:\ntitle: "$1"\n---\n'
    'Jekyll image template':
        'prefix': 'jimage'
        'body': '{% include img.html src="/res/blogres/$1" width=$2 desc="$3" border=true %}'

# -----------------------------------------------------------------------------
# PYTHON
# -----------------------------------------------------------------------------
'.source.python':
    'Default python3 shebang':
        'prefix': 'shebang'
        'body': '#!/usr/bin/env python3\n# -*- coding: utf-8 -*-\n"""$1"""\n'
    'Add a horizontal rule':
        'prefix': 'hrule'
        'body': '# -----------------------------------------------------------------------------'

# -----------------------------------------------------------------------------
# SHELL
# -----------------------------------------------------------------------------
'.source.shell':
    'Default bash shebang':
        'prefix': 'shebang'
        'body': '#!/bin/bash\n\n'
    'Change to script folder':
        'prefix': 'cdhere'
        'body': 'cd "$( dirname "$( readlink -f "\\$0" )" )"'
    'Check for input file':
        'prefix': 'infile'
        'body': '[ -z "\\$1" ] || [ ! -f "\\$1" ] && {\n\techo "No input file provided."\n\texit 1\n}'
    'Check for input directory':
        'prefix': 'indir'
        'body': '[ -z "\\$1" ] || [ ! -d "\\$1" ] && {\n\techo "No input file provided."\n\texit 1\n}'
    'Check for preinstalled tools':
        'prefix': 'checktools'
        'body': 'for tool in $1; do\n\t[ -z $( command -v $tool ) ] && {\n\t\techo "\'\$tool\' not installed."\n\t\tdo_exit=1\n\t}\ndone\n[ "$do_exit" == "1" ] && exit 1'
    'Add a horizontal rule':
        'prefix': 'hrule'
        'body': '# -----------------------------------------------------------------------------'
    'Include bastis bash commons':
        'prefix': 'bbc'
        'body': 'source <(curl -s https://bbc.basti.site)'
